{% extends 'template.html' %}
{% block main %}
{% load static %}

<main class="wrapper violet-text-color">
    <div class="news-container background-wrapper-color">
        {% if messages %}
            <div class="message_container page_message_width">
                {% for message in messages %}
                <div class="message_item {{ message.tags }}">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        {% for item in data %}
        <div class="new-block">
            <div class="new-title-block">
                <div class="new-title">
                    <a href="{{ item.get_absolute_url }}" class="violet-text-color">{{ item.title }}</a>
                </div>
                <div class="new-date">
                    {{ item.created|date:"Y-m-d" }}
                </div>
            </div>
            <div class="new-body">
                <div class="new-article">
                    <div class="picture-container">

                {% if item.picture %}
                        <img src="{{ item.picture }}" alt="Фото">
                {% else %}
                        <img src="{% static 'img/empty.png' %}" alt="Фото">
                {% endif %}
                     </div>
                    <p>{{ item.article|slice:":1300" }}</p>
                    <!-- {% lorem 4 b %} -->
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="pagination-news-block">
            <div class="step-links">
                {% if data.has_previous %}
                <a href="{% url 'blog' %}?page={{ data.previous_page_number }}">&lt;</a>
                {% endif %}
                {% for page in data.paginator.page_range %}
                <a href="{% url 'blog' %}?page={{ page }}">{{ page }}</a>
                {% endfor %}
                {% if data.has_next %}
                <a href="{% url 'blog' %}?page={{ data.next_page_number }}">&gt;</a>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}