{% extends 'template.html' %}
{% block main %}
<main class="wrapper violet-text-color background-wrapper-color">
    <div class="article-block">
        <div class="article-item">
            <div class="article-title-container">
                <div class="article-title">
                    <h1>{{ note.title }}</h1>
                </div>
                <div class="article-date">
                    <p>{{ note.created|date:"Y-m-d" }}</p>
                </div>
            </div>
            {% if note.picture %}
            <div class="article-image-container">
                <img src="/{{ note.picture }}" alt="Фото">
            </div>
            {% endif %}
            <div class="article-text-container">
                <p>{{ note.article }}</p>
            </div>
        </div>
        {% if request.user.is_authenticated %}
            <div class="article-buttons">
                <a href="{% url 'editNote' note.pk %}">Редактировать</a>
                <a href="javascript:showPU()">Удалить</a>
            </div>
        {% endif %}
    </div>
    <div class="comments-block">
        <h2>Комментарии</h2>
        {% if request.user.is_authenticated %}
            <div class="write-comment">
                <form action="{% url 'addComment' id=note.pk %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.errors %}
                    <span style="color: red;"> {{ field.errors }}</span>
                    {% endif %}
                    {{ field }}
                    {% endfor %}
                    <input type="submit" value="Отправить">
                </form>
            </div>
        {% endif %}
        <div class="comments-container">
            <div class="comments-item">
                {% if comms %}
                {% for comment in comms %}
                <div class="comments-item-author">
                    {% if comment.author.username %}
                    <p>{{ comment.author.username }}:</p>
                    {% else %}
                    <p>Удалено</p>
                    {% endif %}
                </div>
                <div class="comments-item-text">
                    <p>{{ comment.text }}</p>
                </div>
                <div class="comments-item-date">
                    <p>{{ comment.created|date:"Y-m-d" }}</p>
                </div>
                {% endfor %}
                {% else %}
                <div class="comments-item-text">
                    <p>Эту запись еще никто не комментировал</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
<div class="back-confirm" id="popup">
    <div class="block-confirm">
        <p>Данная запись будет удалена. Подтвердить?</p>
        <a href="{% url 'deleteNote' note.pk %}">Да</a>
        <a href="javascript:hidePU()">Нет</a>
    </div>
</div>
<script>
    $(document).ready(function () {
        hidePU();
    });
    function showPU() {
        $('#popup').show();
    }
    function hidePU(){
        $('#popup').hide();
    }
</script>
{% endblock %}

