{% extends 'template.html' %}
{% block main %}
{% load static %}
<main class="wrapper violet-text-color background-wrapper-color">
    <div class="article-block">
        <div class="article-item">
            <div class="article-title-container">
                <div id="article-id">{{ note.id }}</div>
                <div class="article-like">
                    <a id="like-link" href="#">
                        <div id="like-img"></div>
                        <div id="like-count"></div>
                    </a>
                </div>
                <div class="article-title">
                    <h1>{{ note.title }}</h1>
                </div>
                <div class="article-date">
                    <p>{{ note.created|date:"Y-m-d" }}</p>
                </div>
            </div>
            {% if messages %}
            <div class="message_container page_message_width">
                {% for message in messages %}
                <div class="message_item {{ message.tags }}">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if note.picture %}
            <div class="article-image-container">
                <img src="/{{ note.picture }}" alt="Фото">
            </div>
            {% endif %}
            <div class="article-text-container">
                <p>{{ note.article }}</p>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="article-buttons">
            <a href="{% url 'editNote' id=note.pk %}">Редактировать</a>
            <a href="javascript:show_pop_up_window()">Удалить</a>
            <a href="{% url 'download_pic' id=note.pk %}">Скачать картинку</a>
        </div>
        {% endif %}
    </div>
    <div class="comments-block">
        <h2>Комментарии</h2>
        {% if request.user.is_authenticated %}
        <div class="write-comment">
            <form action="{% url 'addComment' id=note.pk %}" method="POST">
                {% csrf_token %}
                <div id="reply_name_block">
                    <p id="reply_to_name">Ответить</p><a href="#" id="cancel_reply">X</a>
                </div>
                {% for field in form %}
                {% if field.errors %}
                <span style="color: red;"> {{ field.errors }}</span>
                {% endif %}
                {{ field }}
                {% endfor %}
                <input type="submit" value="Отправить">
            </form>
        </div>
        {% endif %}
        <div class="comments-container">

            {% if comms %}
            {% for comment in comms %}
            <div class="comments-item" data-comment-id="{{ comment.id }}">
                <div class="comments-item-title">
                    <div class="comments-item-author">
                        {% if comment.author.username %}
                        <p>{{ comment.author.username }}:</p>
                        {% else %}
                        <p>Удалено</p>
                        {% endif %}
                    </div>
                    <div class="comments-item-date">
                        <p>{{ comment.created|date:"Y-m-d" }}</p>
                    </div>
                </div>
                <div class="comments-item-text">
                    <p>{{ comment.text }}</p>
                </div>
                {% if comment.author.username %}
                <div class="container-reply-link">
                    <a class="reply-link" href="#">Ответить</a>
                </div>
                {% endif %}
                <div class="comments-item-replies">
                    {% for reply in comment.replies.all %}
                    <div class="comments-item-replies-item">
                        <div class="comments-item-title">
                            <div class="comments-item-author">
                                {% if reply.author.username %}
                                <p>{{ reply.author.username }}:</p>
                                {% else %}
                                <p>Удалено</p>
                                {% endif %}
                            </div>
                            <div class="comments-item-date">
                                <p>{{ reply.created|date:"Y-m-d" }}</p>
                            </div>
                        </div>
                        <div class="comments-item-text">
                            <p>{{ comment.author.username }}, {{ reply.text }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="comments-item">
                <div class="comments-item-text">
                    <p>Эту запись еще никто не комментировал</p>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</main>
<div class="back-confirm" id="popup">
    <div class="block-confirm">
        <p>Данная запись будет удалена. Подтвердить?</p>
        <a href="{% url 'deleteNote' note.pk %}">Да</a>
        <a href="javascript:hide_pop_up_window()">Нет</a>
    </div>
</div>
<script>
    $(document).ready(function () {
        hide_pop_up_window();
    });

    function show_pop_up_window() {
        $('#popup').show();
    }

    function hide_pop_up_window() {
        $('#popup').hide();
    }


</script>
<script type="text/javascript" src="{% static 'js/cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/likes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/reply.js' %}"></script>
{% endblock %}

