{% extends 'template.html' %}
{% block main %}
<main class="wrapper violet-text-color">
    <div class="register-container">
        <div class="register-form-container">
            <h1>Вход</h1>
            {% if messages %}
            <div class="message_container form_message_width_30">
                {% for message in messages %}
                <div class="message_item {{ message.tags }}">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <form action="{% url 'login' %}?next={{ redirect_to }}" method="post">
                {% csrf_token %}
                {% for field in form %}
                {% if field.errors %}
                <span style="color: red;"> {{ field.errors }}</span>
                {% endif %}
                {{ field }}
                {% endfor %}
                <input type="submit" name="login" value="Войти">
            </form>
        </div>
    </div>
</main>
{% endblock %}