{% extends "template.html" %}
{% block main %}
<main class="wrapper violet-text-color">
    <div class="add-note-container">
        <div class="add-note-form-container">
            {% if mode == 'add' %}
            <h1>Добавить статью</h1>
            {% else  %}
            <h1>Изменить статью</h1>
            {% endif %}
            <form action="
            {% if mode == 'add' %}
            {% url 'addNote' %}
            {% else %}
            {% url 'editNote' id %}
            {% endif %}
            " method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.errors %}
                <span style="color: red;"> {{ field.errors }}</span>
                {% endif %}
                {{ field }}
                {% endfor %}
                <label class="label-file" for="upload-file">
                    <i class="icon fa fa-check"></i>
                    <span class="js-fileName">Загрузить фото</span>
                </label>
                {% if mode == 'edit' %}
                <input type="checkbox" id="deleteimg" name="deleteimg">
                <label for="deleteimg">Убрать фото</label>
                {% endif %}
                <input type="submit" name="add" value="Сохранить">
                {% if mode == 'edit' %}
                <a class="rollback" href="{% url 'viewNote' id %}">Назад</a>
                {% endif %}
            </form>
        </div>
    </div>
</main>
{% endblock %}