<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    {% load static %}
    {% load i18n %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/comments.css' %}">
    <link rel="stylesheet" href="{% static 'css/newnote.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="logo_block">
        <a href="{% url 'blog' %}">
            <div class="logo_img_container">
                <div class="img"></div>
                <!-- <img src="{% static 'img/logo.svg' %}" alt=""> -->
            </div>
            <div class="logo_text_container">
                <p>{% trans 'title_site' %}</p>
<!--                Заметки о коде-->
            </div>
        </a>
    </div>
    <div class="navigation">
        <div class="navigation-inner">
            <nav>
                <ul>
                    <li>
                        <a href=""><p>{% trans 'menu_feedback' %}</p></a>
<!--                        Оставить отзыв-->
<!--                        Send feedback-->
                    </li>
                    <li>
                        <a href=""><p>{% trans 'statistic' %}</p></a>
<!--                        Статистика-->
                    </li>
                    {% if not request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'login' %}?next={{ request.path }}"><p>{% trans 'sign_in' %}</p></a>
<!--                        Войти-->
                    </li>
                    <li>
                        <a href="{% url 'register' %}?next={{ request.path }}"><p>{% trans 'sign_up' %}</p></a>
<!--                        Зарегистрироваться-->
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'addNote' %}"><p>{% trans 'new_note' %}</p></a>
<!--                        Новая запись-->
                    </li>
                    <li>
                        <a href="{% url 'logout' %}?next={{ request.path }}"><p>{% trans 'log_off' %}</p></a>
<!--                        Выйти-->
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <div class="search-block">
                <form action="{% url 'searchmulty' %}" method="post" id="search" class="search_form">
                    {% csrf_token %}
                    <!-- <p>Поиск по одному слову:</p>
                    <input type="text" name="one" id="oneword" placeholder="Начните вводить слово"> -->
                    <input type="text" name="multy" id="multyword" placeholder="Искать">
                    <div class="result invisible" id="res"></div>
                </form>
            </div>
            <div class="localization">
                <form action="{% url 'change_language' %}?next={{ request.get_full_path }}" method="post">
                    {% csrf_token %}
                    <select name="language" id="select_lang" onchange="this.form.submit()"> <!-- Автоматическая отправка формы при выборе варианта селекта -->
                        <option value="ru">Russian</option>
                        <option value="en">English</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
    <div class="qr_code_block">
        <a href="{% url 'get_QR' %}?page={{ request.get_full_path }}">Получить QR-код</a>
    </div>
</header>
<div class="header-under">
    
</div>
<div class="background">
        {% block main %}
        {% endblock %}
</div>
<script type="text/javascript" src="{% static 'js/lookfor.js' %}"></script>
<script type="text/javascript" src="{% static 'js/upload_file.js' %}"></script>
<script type="text/javascript" src="{% static 'js/language.js' %}"></script>
</body>
</html>
