.title {
    font-weight: bold;
}

.violet-text-color {
    color: var(--main-text-color);
}

.font-stl {
    font-style: italic;
}
/*Статьи*/
.news-container {
    width: 100%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.new-block {
    width: 100%;
    height: auto;
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2%;
}

.new-title-block {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
    line-height: 1.5em;
}

.new-title {
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.new-title a {
    font-weight: bold;
    text-decoration: none;
    
}

.new-title a:hover {
    color: var(--hover-text-color);
    text-shadow: 0px 0px 3px var(--hover-text-color);
}

.new-date{
    width: 20%;
    height: auto;
    position: absolute;
    right: 0;
    font-size: 18px;
    text-align: right;
}
.new-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.picture-container {
    padding: 0 2% 2% 0;
    width: 20%;
    float: left;
    height: auto;
}

.picture-container img {
    width: 100%;
    height: auto;
}

.new-article {
    width: 100%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5em;
}

.new-article p {
    margin: 0;
    text-indent: 40px;
}
.new-article p:first-letter {
    text-transform: uppercase;
}

.pagination-news-block {
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 2%;
    box-sizing: border-box;
}
.pagination-news-block .step-links {

}

.pagination-news-block .step-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #b2adcc;
    text-decoration: none;
    font-size: 18px;
    background-color: var(--main-background-color);
    text-align: center;
    line-height: 2.5em;
}

.pagination-news-block .step-links a:hover {
    color: var(--hover-text-color);
    text-shadow: 0px 0px 3px var(--hover-text-color);
}