html, body {
    margin: 0;
    padding: 0;
    font-family: Lato,sans-serif;
    font-size: 16px;
    
    background: #ffffffd6;
}
.background {
    background: url('../img/Stars.png') no-repeat rgba(22, 19, 38, 1);
    background-size: cover;
    //background-position: 25px, 0px;
    background-attachment: fixed;
}
.background-wrapper-color {
    background-color: #2D2847;
    border-radius: 1%;
}
.navigation {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navigation-inner {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigation .navigation-inner nav {
    width: 70%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    margin-left: 5%;
}
header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #b2adcc;
    background: rgba(22, 19, 38, 1);
    position: fixed;
    z-index: 2;
}
.header-under {
    width: 100%;
    height: 90px;
}
header .logo_block {
    width: 20%;
    height: 100%;
}
header .logo_block a {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    color: inherit;
}
header .logo_block a .logo_img_container {
    width: 30%;
    height: 100%;
}

header .logo_block a .logo_img_container .img {
    display: block;
    margin: 0 auto;
    height: 90%;
    width: 70%;
    background-color: #b2adcc;
    -webkit-mask-image: url("../img/logo.svg");
    mask-image: url("../img/logo.svg");
}

header .logo_block a .logo_text_container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header .logo_block a .logo_text_container p {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 26px;
    line-height: 2em;
    font-weight: bold;
}


header .navigation .navigation-inner nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: inherit;
}
.cell_view {
    border: 1px black solid;
}
.navigation-inner nav ul li {
    width: calc(100%/4.5);
    color: inherit;
}

.navigation-inner nav ul li a {
    color: inherit;
    text-decoration: none;
    display: block;
}
.navigation-inner nav ul li a:hover, header .logo_block a .logo_text_container p:hover {
    color: #FFF;
    text-shadow: 0px 0px 3px #FFF;
}
.navigation-inner nav ul li a p {
    text-align: center;
    color: inherit;
    font-size: 20px;
    line-height: 2em;
    margin: 0;
}



/*блок поиска*/
.search-block {
    width: 20%;
    height: 50%;
    margin-right: 2%;
}
.search_form {
    width: 100%;
    height: auto;
    //margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.search_form input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 4%;
    border: 0;
    outline: 0;
    opacity: 1;
    color: rgba(22, 19, 38, 1);
    font-size: 18px;
}
.invisible {
    display: none;
}
.result {
    background-color: #ffffffd6;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 0 4%;
    box-sizing: border-box;
    opacity: 1;
    color: rgba(22, 19, 38, 1);
}
.result p a {
    font-size: 18px;
    color: inherit;
    text-decoration: none;
}
.result p {
    margin: 0;
    padding: 4% 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(22, 19, 38, 1);
}
.result p:last-child {
    border-bottom: 0px;
}

/*подложка*/
.wrapper {
    margin: 0 20%;
    width: 60%;
    min-height: 91vh;
}


/*файлы*/

.left , .right {
    width: 95%;
    margin: 0 auto;
    border: 1px black solid;
    padding: 20px;
    box-sizing: border-box;
}

.left h2 , .right h2 {
    text-align: center;
}
.warning {
    color: lightcoral;
}